@charset "UTF-8";
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding-top: 50px;
    }
    
    section.dept {
       margin: 50px auto;
    }

    /*
    본문에 ul tag가 많이 있을 경우
    메뉴설정에서 사용한 ul에만 스타일을 적용하겠다.
    */
    ul.main-menu {
        background-color: white;
        color: blue;
        width: 95%;
        /*
        rgba() : red, green, blue, alpah값을 지정해서
        색상과 투명도가 있는 색을 만드는 함수
        */
        box-shadow: 5px 10px 8px rgba(88,88,88,0.8);

        /*
        ul box를 고정시켜서 움직이지 않도록 만듬
        */
        position: fixed;
        top: 0;
        left: 10px;

        display: flex;
        list-style: none;

        border-bottom-right-radius: 5px;
        transition: 0.3s;
        z-index: 10;
    }

    ul.main-menu a {
        flex: 0 1 auto;
        display: block;
        text-align: center;
        padding: 1rem;
        margin-left: 0;
        text-decoration: none;
        font-size: 15px;
    }

    ul.main-menu li:nth-child(1) {
        background-color: blue;
        color: white;
        font-weight: bold;
        font-style: italic;
         
    }
	/*
	맨끝 tag에 속성 지정
	ul.main-menu li:last-child()
	*/
	
    /*ul.main-menu a:nth-child(1)
   	 간혹 문제를 일으키는 경우가 있어서
    1번 tag는 fist-child를 사용 하는 것이 좋다.*/ 
    ul.main-menu a:first-child{
        color: inherit;
    }
    ul.-main-menu a:hover {
	background-color: #ddd;
	color: black;
}

	ul.main-menu li:nth-child(4) {
	margin-left: auto;
}