@charset "UTF-8";

header {
	background-color: #f5b335;
	margin: 0;
	padding: 0.8rem;
	color: white;
}

nav{
	margin: 0;
	padding: 0;
	background-color: #3eb5ff;
	color: #fff;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul a{
	display: block;
	color: inherit;
	padding: 14px 16px;
	text-decoration: none;
	transition: 1s;
}

nav ul a:hover{
	background-color: #ddd;
	color: blue;
	font-weight: bold;
}


