@charset "UTF-8";
 		*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            padding-top: 50px;
        }
        
        section.dept{
        	margin: 50px auto;
        }
        
        /*ul.main-menu a:nth-child(1){*/
        ul.main-menu li:first-child{
        	color: inherit;
        }
        
        ul.main-menu li:nth-child(4){
        	margin-left: auto;
        }
        
        ul.main-menu{
            background-color: white;
            color: blue;
            width: 95%;
            /* rgba() : red, green, blue, alpha값을 지정해서 색상과 투명도가 있는 색을 만드는 함수 */
            box-shadow: 5px 10px 8px rgba(88, 88, 88, 0.8);
            position: fixed;
            top: 0;
            left: 10px;

            display: flex;
            list-style: none;

            border-bottom-right-radius: 5px;
            transition: 0.3s;
            z-index: 10;
        }

        ul.main-menu a{
            flex: 0 1 auto;
            display: block;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            font-size: 15px;
        }

        ul.main-menu li:nth-child(1){
            background-color: blue;
            color: white;
            font-weight: bold;
            font-style: italic;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        ul.main-menu a:nth-child(1){
            color: inherit;
        }