<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.iolist.persistence.DeptDao">
 
 	<select id="selectAll" resultType="DeptDTO">
 	SELECT * FROM tbl_dept ORDER BY d_name,d_ceo
 	</select>
 		
 	
 	<select id="findAll" resultType="DeptDTO">
 	SELECT * FROM tbl_dept ORDER BY d_code
 	</select>
 	
 	
 	<select id="findById"></select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 