<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.persistence.ProductDao">

	<select id="selectAll" resultType="ProductDTO">
		SELECT * FROM tbl_product
		ORDER BY p_code
	</select>

	<select id="findByPCode" resultType="ProductDTO">
		SELECT * FROM tbl_product
		WHERE p_code = #{p_code}
	</select>

	<select id="getDCode" resultType="String">
		SELECT MAX(p_code) FROM tbl_product
	</select>

	
	<select id="findByName" resultType="ProductDTO">
		SELECT * FROM tbl_product 
		WHERE p_name LIKE '%' || #{p_name} || '%'
	</select>
		
		
	<select id="findById"></select>
	
	<insert id="insert" parameterType="ProductDTO">
	INSERT INTO tbl_product(
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT
	) VALUES(
		#{p_code,jdbcType=VARCHAR},
		#{p_name,jdbcType=VARCHAR},
		#{p_iprice,jdbcType=VARCHAR},
		#{p_oprice,jdbcType=VARCHAR},
		#{p_vat,jdbcType=VARCHAR}
	)
	
	</insert>
	
	<update id="update" parameterType="ProductDTO">
		 UPDATE tbl_product set 
		 	P_NAME = #{p_name,jdbcType=VARCHAR},
			P_IPRICE = #{p_iprice,jdbcType=VARCHAR},
			P_OPRICE = #{p_oprice,jdbcType=VARCHAR},
			P_VAT = #{p_vat,jdbcType=VARCHAR}
		WHERE P_CODE = #{p_code}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_product
		WHERE p_code = #{p_code}
		
	</delete>

</mapper> 